@import "tailwindcss";

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.table-container {
  overflow-x: auto;
}

.report-table {
  width: -webkit-fill-available;
  border-collapse: collapse;
  margin: 20px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.report-table th,
.report-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}

.report-table th {
  background: #dd0c0c;
  color: white;
}

.report-table tr:nth-child(even) {
  background: #f2f2f2;
}

.event-table {
  width: -webkit-fill-available;
  border-collapse: collapse;
  margin: 20px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-table th,
.event-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}

.event-table th {
  background: #dd0c0c;
  color: white;
}

.event-table tr:nth-child(even) {
  background: #f2f2f2;
}